{% extends "layout.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="about_system">
        <h3>Welcome to SwiftSell System</h3>
        <p>
          SwiftSell is an innovative and efficient sales management system designed to streamline your selling process and boost productivity.
           With its user-friendly interface and cutting-edge features, SwiftSell empowers businesses to manage their inventory, track sales,
            and analyze performance seamlessly. Say goodbye to the complexities of traditional sales systems and embrace the swiftness of 
            SwiftSell to accelerate your business success.</p>

      </div>
      <div class="sect-one">
        
        <div class="part-one">
          <p>
          <h3>SwiftSell System</h3>
          </p>
        </div>
        <div class="part-two">
          <p>Boost Efficiency, Maximize Profits, Accelerate Success!</p>
        </div>

      </div>
      
     
    </div>
    <div class="contacts">
      <footer><br>
        <p>Get in touch with us today and experience a remarkable boost in your sales!</p>
        <p>Email: sales@swiftsellsystem.com | Phone: +254 727074162</p>
        
    </footer>
    </div>
    
  </div>
</div>

{% endblock %}





 