{% extends "layout.html" %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sect-one">

          <div class="part-one">
            <p>
            <h3>Track your Inventory</h3>
            </p>
          </div>
          <div class="part-two">
            <p>Effortless Inventory Control: Boost Efficiency, Maximize Profits, Accelerate Success!</p>
          </div>

        </div>
      </div>
    </div>
  </div>
  

{% endblock %}





 