{% extends "layout.html" %}

{% block content %}
<div class="container">
 <h2 class="text-center text-dark mt-5">SwiftSell System</h2>
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
       <div class="card">
            <div class="card-body">
                  <form action="/signup" method="POST">
                      <div class="mb-3">
                          <label for="name" class="form-label"><p style="color: white;">Your Name</p></label>
                          <input type="text" class="form-control" name="full_name" id="name" placeholder="" >
                             
                      </div>
                      <div class="mb-3">
                          <label for="email" class="form-label"><p style="color: white;">Your Email</p></label>
                          <input type="email" class="form-control" id="email" name="email" placeholder="">
                  
                      </div>
                      <div class="mb-3">
                          <label for="password1" class="form-label"><p style="color: white;">Password</p></label>
                          <input type="password" class="form-control" id="password" name="password" placeholder="">
                              
                      </div>
                      <div class="mb-3">
                          <label for="password2" class="form-label"><p style="color: white;">Confrim Password</p></label>
                          <input type="password" class="form-control" id="confirmPassword"
                          name="confirm_password" placeholder="">

                      </div>
                      <button type="submit" class="btn btn-primary">Register</button>
                  </form>
              </div>
              <div class="card-footer">
                  <p style="color: rgb(55, 255, 0);">Already have an account? <a href="/login">Login</a></p>
              </div>

          </div>
      </div>
  </div>
</div>

{% endblock %}