{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card" style="width: 16rem;">
                    <div class="card-header">
                        <i class="fa-solid fa-bars"></i> Nav Menu


                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="fa-solid fa-gauge-high"></i> Dashboard</li>
                        <li class="list-group-item"><i class="fa-sharp fa-solid fa-warehouse"></i> Inventories</li>
                        <li class="list-group-item"><i class="fa-brands fa-salesforce"></i> Sales</li>
                        <li class="list-group-item"><i class="fa-sharp fa-solid fa-layer-group"></i> Stock</li>
                        <li class="list-group-item"><i class="fa-solid fa-user"></i> Users</li>
                    </ul>


                </div>

            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">

                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            + Add New Item
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Item:</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/addsales" method="post">

                                            <div class="mb-3">
                                                <label for="product" class="form-label">Choose a product</label>
                                                <select name="pid">
                                                    
                                                    {% for i in prods %}
                                                        {% if i[0] > 15 and i[0] <= 25 %}
                                                        <option value="{{ i[0] }}">{{ i[1] }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                    
                                                </select>
                                            </div>

                                            <div class="mb-3">
                                                <label for="exampleInputID" class="form-label">Quantiy</label>
                                                <input type="number" name="quantity" class="form-control"
                                                    id="exampleInputPassword1">
                                            </div>
                                            
                                            <div>
                                                <button type="submit" class="btn btn-md btn-success">Submit</button>
                                            </div>

                                        </form>

                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">


                    </div>


                </div>
                <div class="row">

                    <table id="myTable" class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">PID</th>
                                <th scope="col">QUANTITY</th>
                                <th scope="col">CREATED_AT</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for i in sales %}
                            <tr>
                                <th scope="row">{{ i[0]}}</th>
                                <td>{{ i[1]}}</td>
                                <td>{{ i[2]}}</td>
                                <td>{{ i[3]}}</td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>

{% endblock %}
